<h1>訂單編號：#{{orderlist.id}}</h1>

<br>
<br>
<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">訂單明細</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>桌號</td>
      <td></td>
      <td>{{orderlist.tableId}}</td>
    </tr>
    <tr>
      <td>人數</td>
      <td></td>
      <td>{{orderlist.peopleAmount}}</td>
    </tr>
    <tr>
      <td>結帳時間</td>
      <td></td>
      <td>{{orderlist.createdAt}}</td>
    </tr>
  </tbody>
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">品項</th>
      <th scope="col">金額</th>
    </tr>
  </thead>
  <tbody>
    {{#each eachItemPrice}}
    <tr>
      <td></td>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
    </tr>
    {{/each}}
  </tbody>
  <tbody>
    <tr>
      <td>總金額</td>
      <td></td>
      <td>{{orderlist.totalPrice}}</td>
    </tr>
    <tr>
      <td>支付方式</td>
      <td></td>
      <td>{{orderlist.payment}}</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<a class="btn btn-outline-secondary mb-3" href="javascript:history.back()">返回</a>