<h1>Setting</h1>

{{>setting-tabs route='orderlists'}}
<br>
<br>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">checkout time</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each orderlists}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.createdAt}}</td>
      <td>{{this.total_price}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/setting/orderlists/{{this.id}}">
            Details
          </a>
        </button>
        <form action="/setting/orderlists/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link danger"
            onclick="return confirm(`確定要刪除這筆紀錄嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>