<div class="row">
  {{!-- left side --}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>桌號：{{table.id}}</h1>
      </div>
      {{#each table.Orders}}
      <div class="card-body">
        <div class="text-end">
          <form action="/tables/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn">x</button>
          </form>
        </div>

        <h6 class="card-title">{{this.Menu.name}}</h6>
      </div>

      <div class="card-footer text-end">
        <div class="card-text text-muted">
          $ <span>{{this.Menu.price}}</span> 元
        </div>
      </div>
      {{/each}}
    </div>

    <div class="text-end">
      <button class="btn btn-light" style="min-width: 120px;">Checkout</button>
    </div>
  </div>

  {{!-- right side --}}
  <div class="col-md-8" style="outline: 1px solid steelblue;
  min-height: 600px;">
    <section class="menu">
      <form action="/tables" method="POST" class="row">
        <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
        {{#each menus}}
        <div class="col-3 mb-3">
          <div class="card text-center">
            <label class="card-body btn">
              <h5 class="card-title">{{this.name}}</h5>
              <p>{{this.price}}元</p>
              <input type="radio" id="menuId" name="menuId" value="{{this.id}}">
            </label>
          </div>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">
          add
        </button>
      </form>
    </section>
  </div>
</div>