<div class="row">
  {{!-- left side --}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4>桌號：{{table.name}}</h4>
        <h4>人數：{{table.Person.amount}}</h4>
      </div>
      {{#each table.Orders}}
      <div class="card-body">
        <div class="text-end">
          <form action="/tables/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn">x</button>
          </form>
        </div>

        <h6 class="card-title">{{this.Menu.name}}</h6>
      </div>

      <div class="card-footer text-end">
        <div class="card-text text-muted">
          $ <span>{{this.Menu.price}}</span> 元
        </div>
      </div>
      {{/each}}
    </div>
    <div class="card-footer text-end mt-5">
      <div class="card-text text-muted">
        總共 $ <span>{{totalAmount}}</span> 元
      </div>
    </div>
    <div class="text-end">
      <a class="btn btn-secondary mt-3" href="/tables">返回</a>
      <button type="button" class="btn btn-dark mt-3" style="min-width: 120px;" data-bs-toggle="modal"
        data-bs-target="#checkout">結帳</button>
    </div>
  </div>

  {{!-- right side --}}

  <div class="col-md-8">
    <section class="mb-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
        </li>
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
            href="?categoryId={{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
    </section>
    <section class="menu">
      <form action="/tables" method="POST" class="row">
        <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
        {{#each menus}}
        <div class="col-3 mb-3">
          <div class="card text-center">
            <label class="card-body btn">
              <h5 class="card-title">{{this.name}}</h5>
              <p>{{this.price}}元</p>
              <input type="radio" id="menuId" name="menuId" value="{{this.id}}">
            </label>
          </div>
        </div>
        {{/each}}
        <div class="text-end">
          <button type="submit" class="btn btn-primary col-3">
            下單
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="checkout" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkout">結帳方式</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <form action="/tables/checkout" method="POST">
          <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
          <input type="hidden" name="payment" id="payment" value="現金">
          <button type="submit" class="btn btn-lg btn-success me-3">現金</button>
        </form>
        <form action="/tables/checkout" method="POST">
          <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
          <input type="hidden" name="payment" id="payment" value="刷卡">
          <button type="submit" class="btn btn-lg btn-danger me-3">刷卡</button>
        </form>
        <form action="/tables/checkout" method="POST">
          <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
          <input type="hidden" name="payment" id="payment" value="外帶">
          <button type="submit" class="btn btn-lg btn-primary me-3">外帶</button>
        </form>
        <form action="/tables/checkout" method="POST">
          <input type="hidden" name="tableId" id="tableId" value="{{table.id}}">
          <input type="hidden" name="payment" id="payment" value="UberEats">
          <button type="submit" class="btn btn-lg btn-dark me-3">UberEats</button>
        </form>
      </div>
    </div>
  </div>
</div>